:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

body {
  text-align: center;
  background: #98a6af;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

.controls {
  margin-bottom: 1em;
}

input {
  width: 100px;
}

/* Dynamically changes by user input and javascript */

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}
